* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 15px;
  font-family: Tahoma, Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.5em;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  background-color: #37424a;
  color: white;
  padding-top: 2em;
  border-bottom: #e8491d 0.2em solid;
  overflow: hidden;
}

header a {
  text-decoration: none;
  color: white;
}

header ul {
  list-style: none;
}

header li {
  display: inline;
  float: left;
  padding: 0 1.2em 0 1.2em;
}

header h1 {
  float: left;
  margin-bottom: 1em;
}

nav {
  float: right;
  margin-top: 0.8em;
}

nav a:hover {
  color: #e8491d;
}

.activ {
  color: #e8491d;
}

#obrazek {
  width: 100%;
  height: 6em;
  background-image: url(../img/tlo.png);
  color: white;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

#obrazek h1 {
  padding-bottom: 0.5em;
}

.szukajka {
  background-color: #7FFFD4;
  padding: 1em;
}

aside {
  width:20%;
  float: right;
}

section form {
  display: block;
  margin: auto;
  text-align: center;
}

section form input[type="text"], input[type="email"], input[type="date"], input[type="password"], textarea, select {
  width: 25%;
  font-size: 1.5em;
  padding: 0.4em;
  border: none;
}

section form input[type="submit"], button {
  color: white;
  background-color: #e8491d;
  border: none;
  font-size: 1.5em;
  padding: 0.4em;
}

.button{
  text-align: center;
  margin-top: 2em;
}

.filtr {
  box-sizing: border-box;
  float: right;
  width: 15%;
  margin-top: 2.3em;
  background-color: #e6e6e6;
  border: #cccccc solid 1px;
  padding: 1em;
  text-align: center;
}

.filtr h3, h4{
  margin: 0.3em;
}

.filtr form label {
  margin-right: 1em;
}

.filtr input[type="submit"]{
  color: white;
  background-color: #e8491d;
  border: none;
  font-size: 1em;
  padding: 0.4em;
  margin: 1em 0 0 0; 
} 

.filtrowanie {
  margin-bottom: 1em;
}

.oferty {
  width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
  float: left;
}

section article {
  box-sizing: border-box;
  width: 100%;
  background-color: #e6e6e6;
  border: #cccccc solid 1px;
  padding: 1em;
  margin: 0.3em 1em 0.3em 1em;
  float: left;
}

section article h1 {
  text-align: center;
  margin: 1em;
}

article h2 {
  font-size: 1em;
}

.clr {
  clear: both;
}

footer {
  background-color: #35424a;
  color: white;
  padding: 1em;
  text-align: center;
}

.rejestracja form input[type="text"], input[type="email"], input[type="password"], input[type="submit"], input[type="date"], select {
  margin: 0.5em;
  border: #e8491d 1px solid;
}

textarea {
  margin: 0.5em;
  border: #e8491d 1px solid;
}

a {
  color: skyblue;
}

article h1 {
  font-size: 1.5em;
}

#red{
  color: #e8491d;
}

.usun{
  color: #e8491d;
}

table{
  margin: auto;
}

table, th, td{
  border: 1px slateblue solid;
  border-collapse: collapse;
}

th, td{
  padding: 1em;
}